<!DOCTYPE html>
<html lang="en">

<head>
    <% include assets/partials/header %>
        <title>reubensua</title>
</head>

<body>
    <div class="container-fluid">
        <% include assets/partials/nav %>

            <h1>Certifications</h1>

            <div class="row flex">
                <p><img src="https://www.dropbox.com/s/htgyxnjzpg8y3iv/ciw-iba.png?raw=1" /></p>
                <p><img src="https://www.dropbox.com/s/8597dp30bdk5zjp/ciw-js.png?raw=1" /></p>
                <p><img src="https://www.dropbox.com/s/v10dby4z18gj3nm/mta.png?raw=1" /></p>
                <p><img src="https://www.dropbox.com/s/8x468txaeaih05r/coursera.png?raw=1" /></p>
                <p style="margin-left:10px"><img src="https://www.dropbox.com/s/5vvtuclgex1ynf9/fcc.png?raw=1"/></p>
            </div>
    </div>

    <footer>
        <% include assets/partials/footer %>
    </footer>
</body>

</html>
