<!DOCTYPE html>
<html lang="en">

<head>
    <% include assets/partials/header %>
        <title>reubensua</title>
</head>

<body>
    <div class="container-fluid">
        <% include assets/partials/nav %>

            <h1>Certifications</h1>

            <div class="row flex">
                <p><img src="http://i.imgur.com/GmRPQf4.png"/></p>
                <p><img src="http://i.imgur.com/ednqo9w.png"/></p>
                <p><img src="http://i.imgur.com/lsqLrQ4.png"/></p>
                <p><img src="http://i.imgur.com/ahaZAkr.png" /></p>
                <p style="margin-left:10px"><img src="http://i.imgur.com/lPQhebS.png"/></p>
            </div>
    </div>

    <footer>
        <% include assets/partials/footer %>
    </footer>
</body>

</html>
